
.navbar-brand {
	font-size: 36px;
    font-family: 'Lobster';
}

.label-logged {
	font-size: 20px;
	color: #EEE;
}

.navbar-fixed-top {
	padding: 10px 0px 10px 0px;
}

.page {
	padding: 80px 0px 0px 0px;
}

.list-group {
	overflow: auto;
	height: 220px;
}

.list-group-item {
	font-size: 16px;
}

.highlight {
	background: #FFCCCC;
	border: 1px solid #FFAAAA;
	border-radius: 3px;
}

.btn {
	font-size: 12px;
	padding: 0px 5px 0px 5px;
	height: 20px;
}

.center {
	text-align:center;
}

table {
	overflow-x:auto;
	margin: 24px auto;
}

th, td  {
	text-align: center;
	border: 1px solid #777777;
	background: #EEEEEE;
}

th, td:hover  {
	background-color: #AAAAAA
}

th, td:active  {
	background-color: #AAAAFF
}
