
.navbar-brand {
	font-size: 36px;
    font-family: 'Lobster';
}

.label-logged {
	font-size: 20px;
	color: #EEE;
}

.navbar-fixed-top {
	padding: 10px 0px 10px 0px;
}

.page {
	padding: 80px 0px 0px 0px;
}

.list-group {
	overflow: auto;
	height: 220px;
}

.btn {
	font-size: 12px;
	padding: 0px 5px 0px 5px;
	height: 20px;
}