{% load staticfiles %}
<html>
    <head>
        <title></title>
		<meta charset="utf-8"> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{% static 'js/jquery_csrf_ajax.js' %}"></script>
		
        {% block extra_headers %}            
        {% endblock %}
    </head>
    <body>
		<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="{% url 'main_page' %}">TicTacToe</a>
				</div>
				{% if user.is_authenticated %}
					<span class="label-logged pull-right">Logged as: {{ user.username }} (<a href="{% url 'logout' %}?next=/">Logout</a>)</span>
				{% else %}
					<a class="label-logged pull-right" href="{% url 'login' %}">Login</a>
					<span class="label-logged pull-right">/</span>
					<a class="label-logged pull-right" href="/newuser">Register</a>
				{% endif %}
			</div>
		</nav>
		<div class="page container">
			{% block content %}  
			{% endblock %}
		</div>
    </body>
</html>