{% extends "tictactoe/base.html" %}
{% load staticfiles %}

{% block extra_headers %}
	<script type="text/javascript">
        var game_id = {{game.id}};
    </script>
	<script type="text/javascript" src="{% static 'js/jquery_csrf_ajax.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/game.js' %}"></script>
{% endblock %}


{% block content %}
    <div class="row col-xs-12">
		<h1 class="center">{{game.name}}</h1>
	</div>
	<div id="board_area" class="row col-xs-12">
	</div>
{% endblock %}