{% extends "tictactoe/base.html" %}
{% load staticfiles %}

{% block extra_headers %}
	<script type="text/javascript">
		var user{% if user.is_authenticated %}="{{user.pk}}"{% endif %};
	</script>
	<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
{% endblock %}

{% block content %}
    <div>
		{% if user.is_authenticated %}
			<div class="row">
				<div class="list-scroll col-md-6">
					<h2>New Challenges</h2>
					<ul class="list-group" id='challenge_list'>
					</ul>
				</div>
				<div class="list-scroll col-md-6">
					<h2>Your Games</h2>
					<ul class="list-group" id='user_games_list'>
						{% for ug in user_games %}
							<li class="list-group-item">
								{% if ug.user1_turn %}
									<span class='highlight'>{{ug.user1}}</span> vs {{ug.user2}}
								{% else %}
									{{ug.user1}} vs <span class='highlight'>{{ug.user2}}</span>
								{% endif %}
								<button type="button" class="btn btn-success pull-right"
								onclick="window.location='/game/{{ ug.id }}';">PLAY</button>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		{% endif %}
		<div class="row">
			{% if user.is_authenticated %}
				<div class="list-scroll col-md-6">
					<h2>All Users</h2>
					<ul class="list-group" id='user_list'>
						{% for u in users %}
							<li class="list-group-item">
								{{ u.username }}
								{% if u.is_staff %}
									<span class="label label-default">ADMIN</span>
								{% endif %}
								{% if user != u %}
								<button type="button" class="btn btn-danger pull-right"
								onclick="window.location='/new_game/{{ u.pk }}';">CHALLENGE</button>
								{% endif %}
							</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
			<div class="list-scroll col-md-6">
				<h2>All Games</h2>
				<ul class="list-group" id='games_list'>
					{% for g in games %}
						<li class="list-group-item">
							{% if g.user1_turn %}
								<span class='highlight'>{{g.user1}}</span> vs {{g.user2}}
							{% else %}
								{{g.user1}} vs <span class='highlight'>{{g.user2}}</span>
							{% endif %}
							<button type="button" class="btn btn-primary pull-right"
							onclick="window.location='/game/{{ g.id }}';">VIEW</button>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	<div>
{% endblock %}